aside {
    background: #252626;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    color: #E9E9E9;
}

article.page {
    background: #F2F5F3;
    margin-left: 250px;
}

article.page>section{
    padding: 30px;
    max-width: 960px;
    margin: 0 auto;
}

/* 侧边条 */
/* .page-wrap>aside>.logo{
    padding-top: 30px;
    text-align: center;
    color: #4BC8C7;
} */
/* .page-wrap>aside>.logo>svg{
    width: 80px;
    height: 80px;
} */
.page-wrap>aside>.info{
   text-align: center;
}
.page-wrap>aside>h2{
    display: block;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 5px;
    letter-spacing: 1px;
    color: #61C191;
    font-weight: 600;
    /* color: #4BC8C7; */
    margin-top: 40px;
    margin-bottom: 10px;
}
.page-wrap>aside>.info>h3,h4,p{
    font-weight: 400;
}
.page-wrap>aside>.navigation-container{

}
.page-wrap>aside>.navigation-container>.page-nav-ul{
    margin-top: 50px;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li{
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li.active{
    background: #F2F5F3;
    color: #252626;
    font-weight: 600;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li.active a:hover{
    color: #252626;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li a{
    padding-left: 50px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li a small{
    margin-left: 5px;
}
.page-wrap>aside>.navigation-container>.page-nav-ul li a:hover{
    /* color: #4BC8C7; */
    color: #61C191;
}

.page-wrap>aside>.navigation-container>.footer{
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 250px;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: .5;
    
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li:hover{
    opacity: 1;
    animation: 0.3s ease-in stretchdelay;
}
@keyframes stretchdelay {
20%{
    transform: scaleY(1.3);
    -webkit-transform: scaleY(1.2);
} 30%,40% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
} 40% {
    transform: scaleY(.8);
    -webkit-transform: scaleY(.8);
} 60% {
    transform: scaleX(1.3);
    -webkit-transform: scaleX(1.3);
} 70% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
} 80% {
    transform: scaleX(.8);
    -webkit-transform: scaleX(.8);
}
100% {
    transform: scaleX(1.0);
    -webkit-transform: scaleX(1.0);
}
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li svg{
    width: 26px;
    height: 26px;
    margin-left: 7px;
    margin-top: 7px;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li:nth-child(1){
    background-color: #5EE069;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li:nth-child(2){
    background-color: #000;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li:nth-child(3){
    background-color: #FDCF2D;
}
.page-wrap>aside>.navigation-container>.footer>.footer-social li:nth-child(4){
    background-color: #35B7F4;
}
.page-wrap>aside>.navigation-container>.footer>.imprint{
    display: block;
    font-size: 12px;
    color: #cecece;
    text-align: center;
}
.page>.about-me{
    padding: 30px;
    margin: 0 auto;
    max-width: 960px;
}
.page>.about-me>.main-info-top{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.page>.about-me>.main-info-top>.avatar{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    overflow: hidden;
}
.page>.about-me>.main-info-top>.avatar img{
    width: 100%;
}
.page>.about-me>.main-info-top>.info-box{
    padding-left: 40px;
}
.page>.about-me>.main-info-top>.info-box>h2{
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.2;
    color: #222;
    letter-spacing: .05em;
    margin-top: 20px;
}
.page>.about-me>.main-info-top>.info-box>h2>small{
    color: #ccc;
    font-weight: 500;
    padding-left: 10px;
}
.page>.about-me>.main-info-top>.info-box>h3{
    color: #353944;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.page>.about-me>.main-info-top>.info-box>h4{
    color: #222;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}
section{
    display: none;
}
/* .about-me{
    display: none;
}
.portfolio{
    display: none;
}*/
.skills{
    /* background: url(./image/skill-bg.jpg) no-repeat; */
    background-size: cover;

}
/* .contact{
    display: none;
    height: 100%;
}  */
.active{
    display: block;
}
/* portfolio */


.portfolio>h1{
    font-size: 38px;
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
}
.portfolio>.portfolio-list li{
    margin-bottom: 40px;
    padding: 20px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, .3);
    display: flex;
}
.portfolio>.portfolio-list li::after{
    content: "";
    display: block;
    clear: both;
}
.portfolio>.portfolio-list li>img{
    width: 250px;
    height: 300px;
    display: inline-block;
    float: left;
    margin-right: 30px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
}
.portfolio .por-info{
    position: relative;
    padding-top: 20px;
}
.portfolio .por-info h1{
    font-size: 24px;
    font-weight: 600;
    color: #555;
}
.portfolio .por-info h3{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 1.2;
}
.portfolio .por-info p{
    line-height: 30px;
}
.portfolio .por-info .buttons{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.portfolio .por-info .buttons a{
    display: inline-block;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .2);
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
    color: #333;
}
.portfolio .por-info .buttons a:hover{
    background: #252626;
    color: #fff;
}
.portfolio .por-info .QR{
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 120px;
    height: 120px;
    text-align: center;
}
.portfolio .por-info .QR img{
    width: 100%;
    height: 100%;
}
.portfolio .por-info .QR p{
    font-size: 12px;
    line-height: 12px;
}
/* skills */
.skills>h1{
    font-size: 38px;
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}
.skills>.skills-content{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    background: rgba(255, 255, 255, .5);
    margin-bottom: 50px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
}
.skills>.skills-content>.skills-content-info{
    margin: 20px 40px 20px 20px;
    max-width: 380px;
}
.skills>.skills-content>.skills-content-info>li{
    margin-bottom: 20px;
}
.skills>.skill-lists{
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
    margin: 30px auto;
}
.skills>.skill-lists>li{
    display: inline-block;
    background: #FFF;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #61C191;
    margin: 8px 10px;
    color: #252626;
}
.skills>.skill-lists>li.no-grasp{
    border: 2px solid #ddd;
}
/* --- */



.contact>h1{
    font-size: 38px;
    display: block;
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 60px;
}
.contact>.contact-info-wrap{
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}
.contact>.contact-info-wrap .scan{
    max-width: 200px;
    padding-top: 40px;
    text-align: center;
}
.contact>.contact-info-wrap .scan img{
    width: 100%;
}
.contact>.contact-info-wrap>.contact-info{
    margin-left: 60px;
    vertical-align: middle;
}
.contact>.contact-info-wrap>.contact-info li{
    line-height: 60px;
    vertical-align: middle;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.contact>.contact-info-wrap>.contact-info li svg{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 20px;
}
/* 个人 */
.main-info-content{
    max-width: 800px;
    margin: 0 auto 30px;
}
.main-info-content > .info{
    padding-left: 30px;
}
.main-info-content > .info h4{
    font-weight: 600;
    color: #555;
    font-size: 18px;
    margin-top: 8px;
    line-height: 36px;
}
.main-info-content > .info > p{
    line-height: 1.6em;
    font-weight: 500;
}
.main-info-content>h3{
    color: #333;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 8px;
}
.main-info-content strong{
    color: red;
}
.why-me p::before{
    content: " ◍ ";
    margin-right: 6px;
}